
Images/seeds.png
Images/result1.png
Images/result2.png
Images/result3.png
Images/result4.png
Images/result5.png

Images/temp.png
Images/temp2.png
Images/temp3.png


# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SSL certificates
server.cert
server.key
